html {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  
body {
    font-family: "Poppins", sans-serif;
    color: #000;
    background-color: #ffffff;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}
#wrap {
  height: 1800px;
}
#header {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 80px;
  background-color: #ffffff;
  display: block;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(226, 103, 65, 0.422);

}

.navbar {
  height: 100%;
  display: flex; 
  margin-left: 20%;
  margin-right: 20%;

}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  margin-right: 120px;
  line-height: inherit;
  white-space: nowrap;
  flex-basis: 10%;
}

.navbar-brand > a {
  text-decoration: none;
}

.navbar-brand > a > span {
  font-family: "Baloo Chettan", cursive;
  font-size: 24px;
  font-weight: 700;
  color: rgb(25, 25, 25);

}

#top-menu {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

.top-menu {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: space-between;

}
.top-menu-item {
  display: flex;
  text-align: center;  
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}
.top-menu-item >a {
  text-decoration: none;
  color: #434242;
  
}
/* home */
#home {
  width: 100%;
  margin-top: 80px;
  background-image: url(../images/homeBG.png);
  background-repeat: no-repeat;
}
.container {
  margin-left: 20%;
  margin-right: 20%;
}
.home-container {
  width: 40%;
  margin-bottom: 74px;
  overflow: hidden;
  /* padding: 65px 30px; */
}

.home-container h2 {
  margin: 0;
  padding-top: 48px;
  padding-bottom: 32px;
  color: #000;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}

.home-container h1 {
  margin: 0;
  font-weight: 600;
  color: #e1603a;
  font-size: 5rem;
}
.home-container p {
  color: #434242;
  font-size: 24px;
  line-height: 36px;
}
.home-container a {
  display: inline-block;
  padding: 14px 85px;
  background-color: #000;
  border: 1px solid #000;
  color: #ffffff;
  border-radius: 25px;
  margin: 35px 0;
  text-decoration: none;
  font-size: 24px;
}

.home-container a:hover {
  background-color: transparent;
  color: #000;
}

.slider {
  display: none;
}

.slide-in {
  animation: slide-in 2s;
}

.slide-out {
  /* animation: slide-out 2s; */
  animation: slide-out 2s;
  display: none;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* about */
.about-container {
  display: flex;
}
.about-main {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  margin: 0;
}
.heading-about {
  margin: 0;
  padding-bottom: 24px;
}
.heading-about >h2 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  color: #e1603a;
}
.about-main >p{
  margin: 0;
  color: #434242;
  font-size: 24px;
  line-height: 36px;
}
/* donwload */
#download {
  background-color: #D7363B;
  margin-top: 64px;
}
.heading-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading-download >h2{
  margin: 0;
  padding-top: 48px;
  padding-bottom: 14px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffff;
}
.heading-download >p{
  margin: 0;
  color: #000;
  font-size: 24px;
  line-height: 36px;
}
.download-main {
  display: flex;
  padding: 48px 24px;
  justify-content: space-between;
}
.download-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.download-btn img {
  margin: 0;
}
.download-btn .btn {
  display: inline-block;
  /* padding: 14px 85px; */
  min-width: 255px;
  min-height: 60px;
  background-color: #000;
  border: 1px solid #000;
  color: #ffffff;
  border-radius: 25px;
  margin: 35px 0;
  text-decoration: none;
  font-size: 24px;
}
.download-btn .btn i {
  color: #ffff;
  font-size: 24px;
  padding-right: 12px;
}
.download-btn .btn:hover {
  background-color: transparent;
  color: #000;
  cursor: pointer;
}
.download-btn .mac:hover {
  cursor: no-drop;
}
.download-btn .btn:hover i{
  color: #000;
}
/* contact */
/* infor  */
#contact {
  margin-top: 64px;
}
.contact-container {
  display: flex;
  flex-direction: column;
}
.heading-contact {
  display: flex;
  justify-content: center;
}
.heading-contact >h2 {
  margin: 0;
  padding-bottom: 64px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
}
.infor {
  display: flex;
  justify-content: space-between;
}
.author-box {
  width: 325px;
  position: relative;
  padding: 12px 12px 0px;
  border-radius: 100px;
  margin: 45px 0;
  border: 1px solid #ccc;
  color: #050505;
}
.author-box:hover {
  color: #ffffff;
  background-color: #dc373d;
  border-color: transparent;
}
.author-box .img-box {
  position: absolute;
  width: 115px;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.author-box h5 {
  padding-left: 96px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 18px;
}
.author-box p {
  padding-left: 96px;
  /* margin-bottom: 30px; */
  font-size: 18px;
}
/* contact form  */
.contact-main {
  margin-top: 64px;
  min-width: 768px;
  display: flex;
  justify-content: center;
}
.form-contact {
  width: 100%;
  margin-left: 30%;
  margin-right: 30%;
}
.form-contact input {
  width: 100%;
  border: 0;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  border: 1px solid #bbbbbb;
  outline: none;
  color: #101010
}
.send-btn {
  display: flex;
  justify-content: center;
}
.form-contact button {
  padding: 15px 55px;
  outline: none;
  border: none;
  border-radius: 30px;
  border: 1px solid #dc373d;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  background-color: #dc373d;
}
.form-contact button:hover {
  background-color: transparent;
  color: #dc373d;
  cursor: pointer;
}
/* footer  */
#footer {
  background-color: #000;
  margin-top: 64px;
  color: #fff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container h5 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Baloo Chettan', cursive;
}
.footer-box {
  width: 30%;
}
.infor-link a {
  text-decoration: none;
  color: #fff;
}
.infor-link a:hover {
  color: #dc373d
}
.infor-link ul {
  list-style: circle;
}
.infor-link ul li {
  padding-bottom: 12px;
}
.infor-contact p {
  overflow-wrap: break-word;
}